beautifulsoup4
click
dask[dataframe]
fastparquet
geopandas
GitPython
kaleido
ipython
jupyter
jupyter-client==7.4.9
lxml
nbclassic==0.4.8
numpy
openpyxl
pandas>=2.0.0,<2.2.0
papermill
plotly
pyarrow
pygithub
requests
simplejson
slack_sdk
sqlalchemy==1.4.46
tabula-py
utz>=0.4.2
