beautifulsoup4
click
dask[dataframe]
fastparquet
kaleido
ipython
jupyter
jupyter-client==7.4.9
lxml
nbclassic==0.4.8
openpyxl
pandas
papermill
plotly
pyarrow
requests
sqlalchemy==1.4.46
tabula-py
utz==0.3.25
