beautifulsoup4
boto3==1.34.69
click
dask[dataframe]
dvc
dvc_s3
fastparquet
geopandas
GitPython
humanize
kaleido
ipython
jupyter
jupyter-client==7.4.9
lxml
nbclassic==0.4.8
numpy
openpyxl
pandas>=2.0.0,<2.2.0
papermill
plotly
pyarrow
pygithub
requests
s3fs<=2024.2
simplejson
slack_sdk
sqlalchemy==1.4.46
tabula-py
utz>=0.4.2
