.body {
  max-width: 80em;
  margin: 0 auto;
  a {
    text-decoration: underline;
  }
}

.container {
  margin: 0.5em;
  text-align: center;
}

.title {
  position: sticky;
  top: 0.2em;
  z-index: 100;
  background: white;
  padding: 0.3em;
  margin: 0.2em 0 0;
  border: 1px solid;
}

.home {
  position: absolute;
  left: 0.5em;
}

.subtitle {
  margin: 0.5em 0;
  font-weight: bold;
}

.withTotals {
  tr:last-child {
    td {
      font-weight: bold;
    }
    //background-color: #f0f0f0;
  }
}

.njspPlot, .homicidesPlot {
  max-width: 60em;
  margin: auto;
  padding: 0 0.5em;
}

.section {
  margin: 1.2em 0 1.8em;
  h2 {
    margin: 0.5em 0;
  }
  .sectionSubtitle {
    font-style: italic;
  }
}

.idTarget {
  position: relative;
  top: -3.5em;
}
