/2001_crime_report.pdf
/2002_crime_report.pdf
/2003_crime_report.pdf
/2004_ucr_whole.pdf
/2005-ucr.pdf
/2006-Uniform-Crime-Report.pdf
/2007-uniform-crime-report.pdf
/2008-uniform-crime-report.pdf
/2009_uniform_crime_report_b.pdf
/2010_ucr_091712.pdf
/2011_uniform_crime_report.pdf
/2012_uniform_crime_rpt.pdf
/2013_ucrfull.pdf
/2014_uniform_crime_report.pdf
/2015b_uniform_crime_report.pdf
/2016a_uniform_crime_report.pdf
/2017_Uniform_Crime_Report.pdf
/2018_Uniform_Crime_Report.xlsx
/2019_Uniform_Crime_Report.xlsx
/2020_Uniform_Crime_Report.xlsx
/2021_Uniform_Crime_Report.xlsx
/2022_Uniform_Crime_Report.xlsx
/2023_Uniform_Crime_Report.xlsx
/2024-AGENCY-GROUPS-OFFENSE-SUMMARY-REPORT.xlsx
