.body {
  max-width: 80em;
  margin: 0 auto;
  a {
    text-decoration: underline;
  }
}

.container {
  margin: 0.5em;
  text-align: center;
}

.title {
  margin: 0.5em 0;
}

.subtitle {
  margin: 0;
  font-weight: bold;
}

.crashesTable {
  margin: 0.5em 0;
  width: 100%;
  //border-collapse: collapse;
  th {
    font-weight: bold;
  }
}

.withTotals {
  tr:last-child {
    td {
      font-weight: bold;
    }
    //background-color: #f0f0f0;
  }
}

.njspPlot {

}

.section {
    margin: 1.2em 0 1.8em;
    h2 {
        margin: 0.5em 0;
    }
}
