.container {
    padding: 0 1em;
    margin: 0 auto;
    width: 100%;
    max-width: 52em;
    a {
        text-decoration: underline;
    }
    p {
        margin: 0.5em 0;
        line-height: 1.3;
    }
    ul {
        li {
            padding-bottom: 0.3em;
        }
    }
}

.index {
    min-height: 100vh;
    padding: 2rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.title {
    font-size: 3em;
    margin-top: 0.4em;
    margin-bottom: 0.3em;
    text-align: center;
}

.plot-container {
    width: 100%;
}

.map {
    width: 100%;
    aspect-ratio: 1/1;
    min-height: 10em;
}

.bold {
    font-weight: bold;
}

.ytdFooter {
    margin: 0.4em 0;
    p {
        //margin: 0;
        margin-top: 0.2em;
    }
}
