.tablePagination {
  text-align: right;
  font-weight: bold;
  font-size: 0.9em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  .curPage {
    margin-right: 0.5em;
    &:after {
      content: '|';
      margin-left: 0.3em;
      font-size: 1.5em;
      font-weight: 100;
    }
  }
  .pageNum {
    margin-right: 0.7em;
    & > input {
      width: 3.5em;
      text-align: right;
      font-size: 1em;
      margin-left: 0.4em;
      padding: 0.2em 0.1em;
      &.dirty {
        background-color: #ffdddd;
      }
    }
  }
  .beforeDate {
    margin-right: 0.7em;
    & > input {
      width: 5em;
      text-align: right;
      font-size: 1em;
      margin-left: 0.4em;
      padding: 0.2em 0.3em;
      &.dirty {
        background-color: #ffdddd;
      }
    }
  }
  .pageSize {
    margin-right: 0.8em;
    & > select {
      padding: 0.2em 0.1em 0.1em;
      font-size: 1em;
      margin-left: 0.5em;
    }
  }
  .pageCount {
    button {
      position: relative;
      top: 0.4em;
      height: 2em;
      padding: 0;
      margin: 0 0.3em 0 0;
      & > svg {
        height: 1.2em;
        font-size: 1.4em;
      }
      & > svg.left {
        transform: scale(-1, 1);
      }
      & > svg.reduce {
        transform: scale(0.8);
      }
      & > svg.left.reduce {
        transform: scale(-0.8, 0.8);
      }
    }
  }
}
