.crashesTable {
  margin: 0.5em 0;
  width: 100%;
  //border-collapse: collapse;
  th {
    font-weight: bold;
  }
  .td {
    padding: 1px 15px;
  }
}

.sqlError {
  background-color: #ffdddd;
}

.tableHead {
  font-weight: bold;
}

.noselect {
  user-select: none;
}

.rowsTable {
  box-shadow: none;
}
